<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javae
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd ">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordMdiServlet</servlet-name>
    <servlet-class>servlet.PasswordMdiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieMdiServlet</servlet-name>
    <servlet-class>servlet.MovieMdiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieDelServlet</servlet-name>
    <servlet-class>servlet.MovieDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieAddServlet</servlet-name>
    <servlet-class>servlet.MovieAddServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>MovieTraceServlet</servlet-name>
    <servlet-class>servlet.MovieTraceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieListServlet</servlet-name>
    <servlet-class>servlet.MovieListServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>EncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--  
	<filter-mapping>
	<filter-name>SessionFilter</filter-name>
	<url-pattern>*.jsp</url-pattern>
	<url-pattern>*.do</url-pattern>
    </filter-mapping>
    -->

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordMdiServlet</servlet-name>
    <url-pattern>/PasswordMdiServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieMdiServlet</servlet-name>
    <url-pattern>/MovieMdiServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieDelServlet</servlet-name>
    <url-pattern>/MovieDelServlet.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>MovieTraceServlet</servlet-name>
    <url-pattern>/MovieTraceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieAddServlet</servlet-name>
    <url-pattern>/MovieAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/MovieListServlet.do</url-pattern>
  </servlet-mapping>
</web-app>